@keyframes sqAni {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes dotsAni1 {
  0%, 100% { left: -10%; }
  50% { left: 0; }
}

@keyframes dotsAni2 {
  0%, 100% { right: 0; }
  50% { right: -10%; }
}

@keyframes objAni {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.15; border-radius: 48px; }
}

.bg-mstudio {
  height: 100%;
  background: rgb(31, 28, 35);
  background: linear-gradient(90deg, rgba(31, 28, 35, 1) 0%, rgba(28, 28, 38, 1) 100%);

  .squares1 {
    position: absolute;
    width: 15%;
    height: 15%;
    top: 20%;
    left: 24%;
  }

  .squares2 {
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: -10%;
    right: 18%;
    transform: rotate(45deg);
  }

  .squares1 img, .squares2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .squares1 img:nth-of-type(1),
  .squares2 img:nth-of-type(1) {
    animation: sqAni 3s 0.5s infinite;
  }

  .squares1 img:nth-of-type(2),
  .squares2 img:nth-of-type(2) {
    animation: sqAni 3s 0.4s infinite;
  }

  .squares1 img:nth-of-type(3),
  .squares2 img:nth-of-type(3) {
    animation: sqAni 3s 0.3s infinite;
  }

  .squares1 img:nth-of-type(4),
  .squares2 img:nth-of-type(4) {
    animation: sqAni 3s 0.2s infinite;
  }

  .squares1 img:nth-of-type(5),
  .squares2 img:nth-of-type(5) {
    animation: sqAni 3s 0.1s infinite;
  }

  .squares1 img:nth-of-type(6),
  .squares2 img:nth-of-type(6) {
    animation: sqAni 3s infinite;
  }
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes imagefade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.bg-portfolio {
  height: 100%;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  background-image: linear-gradient(120deg, #e0c3fc 20%, #8ec5fc 100%);
}
